FORMAT: 1A
HOST: http://www.google.com

# ETMC Comments
Comments API is a service that performs CRUD on comments.

# Group Comments Resources

Comments related resources of the **Comments API**

## Comments Collection [/hub-internal/v1/comments{?category1,category2,category3,objectid,addressed,completed}]
This API returns all comments that meet the filter criteria.

**NOTE: At least one of the following parameters must be specified, or the API will not return results: category1, category2, category3, objectid**

+ Parameters
    + category1 (optional, string)
    + category2 (optional, string)
    + category3 (optional, string)
    + objectid (optional, string)
    + addressed (optional, number) ... If not set, does not filter by addressed-or-not. If set to `1`, then returns only those comments that are addressed. If set to something else, then returns only those comments that are not addressed.
    + completed (optional, number) ... If not set, does not filter by completed-or-not. If set to `1`, then returns only those comments that are completed. If set to something else, then returns only those comments that are not completed.

### List all Comments [GET]
+ Response 200 (application/json)

        [{
            "_links": {
                "self": { "href": "/comments?page=2&pageSize=3" },
                "next": { "href": "/comments?page=1&pageSize=3" },
                "prev": { "href": "/comments?page=3&pageSize=3" }
            },        
            "count": 2,
            "page": 1,
            "pageSize": 10,
            "entries": [
                {
                  "id": 123456,
                  "createdDate": "2014-05-01T16:20:02",
                  "modifiedDate": "2014-05-01T16:26:31",
                  "createdBy": 10654823,
                  "commentVersion": 1,
                  "category1": "CampaignApproval-V2",
                  "category2": "5096",
                  "category3": "EmailComments:Round=1",
                  "objectId": "25416",
                  "commentText": "Comment 1",
                  "childCommentCount": 0,
                  "ordinal": 1,
                  "x": "0.36833333333333335",
                  "y": "0.7341772151898734",
                  "isActive": true,
                  "createdByUserName": "John Smith",
                  "modifiedByUserName": "John Smith",
                  "modifiedBy": 10654823
                },
                {
                  "id": 123457,
                  "createdDate": "2014-05-01T16:20:02",
                  "modifiedDate": "2014-05-01T16:26:31",
                  "createdBy": 10654823,
                  "commentVersion": 1,
                  "category1": "CampaignApproval-V2",
                  "category2": "5096",
                  "category3": "EmailComments:Round=1",
                  "objectId": "25416",
                  "commentText": "Comment 2",
                  "childCommentCount": 3,
                  "ordinal": 1,
                  "x": "0.36833333333333335",
                  "y": "0.7341772151898734",
                  "isActive": true,
                  "createdByUserName": "John Smith",
                  "modifiedByUserName": "John Smith",
                  "modifiedBy": 10654823
                }]
        }]

## Comment [/hub-internal/v1/comments/]

A single Comment object with all its details

### Create a Comment [POST]
+ Request (application/json)

        {
          "category1": "CampaignApproval-V2",
          "category2": "5096",
          "category3": "EmailComments:Round=1",
          "objectId": "25416",
          "commentText": "Create a comment (post)",
          "ordinal": 0,
          "x": "0.16666666666666666",
          "y": "0.16877637130801687"
        }
        
+ Response 201 (application/json)

        {
          "id": 123456,
          "owner": "https://mc.s1.qa1.exacttarget.com/rest//beta/organization/10652396",
          "createdDate": "2014-05-01T16:20:02",
          "modifiedDate": "2014-05-01T16:26:31",
          "createdBy": 10654823,
          "commentVersion": 1,
          "category1": "CampaignApproval-V2",
          "category2": "5096",
          "category3": "EmailComments:Round=1",
          "objectId": "25416",
          "commentText": "Create a comment (post)",
          "childCommentCount": 0,
          "commentVersion": 0,
          "ordinal": 0,
          "x": "0.16666666666666666",
          "y": "0.16877637130801687"
          "isActive": true,
          "createdByUserName": "John Smith",
          "modifiedByUserName": "John Smith",
          "modifiedBy": 10654823
        "childComments": []
        }

## Comment [/hub-internal/v1/comments/{id}]

A single Comment object with all its details

+ Parameters
    + id (required, number, `123456`) ... number `id` of the Comment to perform action with. Has example value.

### Retrieve a Comment [GET]
+ Response 200 (application/json)

          {
              "id": 123456,
              "createdDate": "2014-05-02T12:52:16",
              "modifiedDate": "2014-05-02T12:59:20",
              "createdBy": 10654823,
              "commentVersion": 3,
              "category1": "CampaignApproval-V2",
              "category2": "5096",
              "category3": "EmailComments:Round=1",
              "objectId": "25416",
              "commentText": "Comment (Get)",
              "ordinal": 2,
              "x": "0.27166666666666667",
              "y": "0.25316455696202533",
              "isActive": true,
              "createdByUserName": "John Smith",
              "modifiedByUserName": "John Smith",
              "modifiedBy": 10654823,
              "childCommentCount": 2,
              "childComments" :
                [{
                  "id": 11,
                  "modifiedDate": "2014-05-02T12:52:16",
                  "commentVersion": 0,
                  "commentText": "Child comment 1",
                  "isActive": true,
                  "modifiedByUserName": "John Smith",
                  "parentId": 12345
                },
                {
                  "id": 22,
                  "modifiedDate": "2014-05-02T12:52:16",
                  "commentVersion": 0,
                  "commentText": "Child comment 2",
                  "isActive": true,
                  "modifiedByUserName": "John Smith",
                  "parentId": 12345
                }]
            }

### Update a Comment [PATCH]

Update a Comment object. A Comment object could be a parent or a child comment.

All fields in the request payload object are optional.

+ Request (application/json)
    + Body
    
            {
              "category1": "CampaignApproval-V2",
              "category2": "5096",
              "category3": "EmailComments:Round=1",
              "objectId": "25416",
              "commentText": "add comment\nsadfasdf",
              "ordinal": 2,
              "x": "0.27166666666666667",
              "y": "0.25316455696202533"
            }

+ Response 200
    + Body

            {
                "id": 109,
                "createdDate": "2014-05-16T18:01:50.787",
                "modifiedDate": "2014-06-06T14:13:24.42",
                "commentVersion": 1,
                "category1": "yup",
                "category2": "hmm",
                "category3": "right",
                "objectId": "qwerty",
                "commentText": "wassup",
                "childCommentCount": 0,
                "ordinal": 12,
                "x": "1.23",
                "y": "6.54",
                "isActive": true,
                "createdByUserName": "MDS Sub04 2nd DB",
                "modifiedByUserName": "MDS Sub04 2nd DB",
                "createdBy": 30980,
                "childComments": [],
                "parentId": 0,
                "completedDate": "2014-06-06T14:13:24.42",
                "modifiedBy": 30980
            }
            
### Remove a Comment [DELETE]

Removes a Comment object

+ Response 200

## Child Comments [/hub-internal/v1/comments/{id}/children/]

+ Parameters
    + id (required, number, `101`) ... number `id` of the parent comment to perform action with. Has example value.

### Get a Collection of Child Comments [GET]

+ Response 200 (application/json)

        {
            "count": 6,
            "page": 0,
            "pageSize": 0,
            "links": {},
            "items": [
                {
                    "id": 102,
                    "createdDate": "2014-05-12T13:37:46.14",
                    "modifiedDate": "2014-05-12T13:37:46.14",
                    "commentVersion": 0,
                    "commentText": "word",
                    "isActive": true,
                    "createdByUserName": "MDS Sub04 2nd DB",
                    "modifiedByUserName": "MDS Sub04 2nd DB",
                    "createdBy": 30980,
                    "parentId": 101,
                    "modifiedBy": 30980
                },
                {
                    "id": 108,
                    "createdDate": "2014-05-16T18:00:27.247",
                    "modifiedDate": "2014-05-16T18:00:27.247",
                    "commentVersion": 0,
                    "commentText": "riiiiight",
                    "isActive": true,
                    "createdByUserName": "MDS Sub04 2nd DB",
                    "modifiedByUserName": "MDS Sub04 2nd DB",
                    "createdBy": 30980,
                    "parentId": 101,
                    "modifiedBy": 30980
                },
                {
                    "id": 109,
                    "createdDate": "2014-05-16T18:01:50.787",
                    "modifiedDate": "2014-05-16T18:01:50.787",
                    "commentVersion": 0,
                    "commentText": "w3rd",
                    "isActive": true,
                    "createdByUserName": "MDS Sub04 2nd DB",
                    "modifiedByUserName": "MDS Sub04 2nd DB",
                    "createdBy": 30980,
                    "parentId": 101,
                    "modifiedBy": 30980
                },
                {
                    "id": 110,
                    "createdDate": "2014-06-04T11:05:51.42",
                    "modifiedDate": "2014-06-04T11:05:51.42",
                    "commentVersion": 0,
                    "commentText": "riiiiight",
                    "isActive": true,
                    "createdByUserName": "MDS Sub04 2nd DB",
                    "modifiedByUserName": "MDS Sub04 2nd DB",
                    "createdBy": 30980,
                    "parentId": 101,
                    "modifiedBy": 30980
                },
                {
                    "id": 111,
                    "createdDate": "2014-06-04T11:50:21.93",
                    "modifiedDate": "2014-06-04T11:50:21.93",
                    "commentVersion": 0,
                    "commentText": "riiiiight",
                    "isActive": true,
                    "createdByUserName": "MDS Sub04 2nd DB",
                    "modifiedByUserName": "MDS Sub04 2nd DB",
                    "createdBy": 30980,
                    "parentId": 101,
                    "modifiedBy": 30980
                },
                {
                    "id": 112,
                    "createdDate": "2014-06-04T11:53:52.01",
                    "modifiedDate": "2014-06-04T11:53:52.01",
                    "commentVersion": 0,
                    "commentText": "riiiiight",
                    "isActive": true,
                    "createdByUserName": "MDS Sub04 2nd DB",
                    "modifiedByUserName": "MDS Sub04 2nd DB",
                    "createdBy": 30980,
                    "parentId": 101,
                    "modifiedBy": 30980
                }
            ]
        }

### Create a Child Comment [POST]

+ Request (application/json)

        {
          "commentText": "New child comment"
        }
        
+ Response 201 (application/json)

        {
            "id": 114,
            "createdDate": "2014-06-06T14:12:00.643",
            "modifiedDate": "2014-06-06T14:12:00.643",
            "commentVersion": 0,
            "commentText": "riiiiight",
            "isActive": true,
            "createdByUserName": "MDS Sub04 2nd DB",
            "modifiedByUserName": "MDS Sub04 2nd DB",
            "createdBy": 30980,
            "parentId": 101,
            "modifiedBy": 30980
        }